In [94]:
import pandas as pd
import numpy as np
import os

path = "/Users/casadei/dev/casadei/gsgp-mo/results"
approaches = [
    'random-without-replacement', 
    'kmeans'
]
classes = range(2, 6)
datasets = ['airfoil', 'ccn', 'concrete', 'keijzer-7', 'parkinsons', 'ppb', 
            'towerData','vladislavleva-1', 'vladislavleva-4', 'yacht']

strategies = ['random-without-replacement', 'kmeans']

In [125]:
def compute_accuracy(dataset, strategy, mode, k):    
    if mode == 'training':
        files = ('smart_tr_sanity.csv', 'smart_tr_fitness.csv')
    else:
        files = ('smart_ts_santity.csv', 'smart_ts_fitness.csv')
        
    
    directory = "%s/%s-%s/output-%s/" % (path, strategy, k, dataset)
    best = pd.read_csv(directory + files[0], usecols = list(range(0, k)), header = None).iloc[:,1:].min(axis=1)
    smart = pd.read_csv(directory + files[1], header = None).iloc[:,-1]

    count = 0
    for i, curr in enumerate(smart):
        if curr <= best[i]:
            count = count + 1
            
    return float(count) / len(smart) * 100

def compute_all(dataset):
    data = []
    for strategy in strategies:
        for k in classes:
            data.append([
                    "%s-%s" % (strategy, k),
                    compute_accuracy(dataset, strategy, 'training', k), 
                    compute_accuracy(dataset, strategy, 'test', k)
            ])
    return data

def generate(dataset):
    print(dataset)
    return pd.DataFrame(data=compute_all(dataset), columns = ('Strategy', 'Training Accuracy', 'Test Accuracy'))

In [126]:
generate('airfoil')

airfoil

                       Strategy  Training Accuracy  Test Accuracy
0  random-without-replacement-2              100.0           74.0
1  random-without-replacement-3              100.0           42.0
2  random-without-replacement-4              100.0           12.0
3  random-without-replacement-5              100.0           10.0
4                      kmeans-2              100.0          100.0
5                      kmeans-3              100.0          100.0
6                      kmeans-4              100.0          100.0
7                      kmeans-5              100.0          100.0

In [127]:
generate('ccn')

ccn

                       Strategy  Training Accuracy  Test Accuracy
0  random-without-replacement-2              100.0           46.0
1  random-without-replacement-3              100.0           30.0
2  random-without-replacement-4              100.0           18.0
3  random-without-replacement-5              100.0            8.0
4                      kmeans-2              100.0           90.0
5                      kmeans-3              100.0           90.0
6                      kmeans-4              100.0           96.0
7                      kmeans-5              100.0           78.0

In [128]:
generate('concrete')

concrete

                       Strategy  Training Accuracy  Test Accuracy
0  random-without-replacement-2              100.0           62.0
1  random-without-replacement-3              100.0           28.0
2  random-without-replacement-4              100.0           12.0
3  random-without-replacement-5              100.0           12.0
4                      kmeans-2              100.0           90.0
5                      kmeans-3              100.0           88.0
6                      kmeans-4              100.0           96.0
7                      kmeans-5              100.0           96.0

In [129]:
generate('keijzer-7')

keijzer-7

                       Strategy  Training Accuracy  Test Accuracy
0  random-without-replacement-2              100.0           86.0
1  random-without-replacement-3              100.0           36.0
2  random-without-replacement-4              100.0           24.0
3  random-without-replacement-5              100.0           10.0
4                      kmeans-2              100.0          100.0
5                      kmeans-3              100.0          100.0
6                      kmeans-4              100.0          100.0
7                      kmeans-5              100.0           98.0

In [130]:
generate('parkinsons')

parkinsons

                       Strategy  Training Accuracy  Test Accuracy
0  random-without-replacement-2              100.0           68.0
1  random-without-replacement-3              100.0           18.0
2  random-without-replacement-4              100.0           24.0
3  random-without-replacement-5              100.0           12.0
4                      kmeans-2              100.0          100.0
5                      kmeans-3              100.0          100.0
6                      kmeans-4              100.0          100.0
7                      kmeans-5              100.0          100.0

In [131]:
generate('ppb')

ppb

                       Strategy  Training Accuracy  Test Accuracy
0  random-without-replacement-2              100.0           52.0
1  random-without-replacement-3              100.0           24.0
2  random-without-replacement-4              100.0           20.0
3  random-without-replacement-5              100.0           18.0
4                      kmeans-2              100.0           84.0
5                      kmeans-3              100.0           42.0
6                      kmeans-4              100.0           58.0
7                      kmeans-5              100.0           46.0

In [132]:
generate('towerData')

towerData

                       Strategy  Training Accuracy  Test Accuracy
0  random-without-replacement-2              100.0           82.0
1  random-without-replacement-3              100.0           42.0
2  random-without-replacement-4              100.0           22.0
3  random-without-replacement-5              100.0           28.0
4                      kmeans-2              100.0           96.0
5                      kmeans-3              100.0          100.0
6                      kmeans-4              100.0          100.0
7                      kmeans-5              100.0          100.0

In [133]:
generate('vladislavleva-1')

vladislavleva-1

                       Strategy  Training Accuracy  Test Accuracy
0  random-without-replacement-2              100.0           96.0
1  random-without-replacement-3              100.0           50.0
2  random-without-replacement-4              100.0           34.0
3  random-without-replacement-5              100.0           24.0
4                      kmeans-2              100.0           96.0
5                      kmeans-3              100.0           92.0
6                      kmeans-4              100.0          100.0
7                      kmeans-5              100.0           98.0

In [134]:
generate('vladislavleva-4')

vladislavleva-4

                       Strategy  Training Accuracy  Test Accuracy
0  random-without-replacement-2              100.0           92.0
1  random-without-replacement-3              100.0           78.0
2  random-without-replacement-4              100.0           52.0
3  random-without-replacement-5              100.0           46.0
4                      kmeans-2              100.0           96.0
5                      kmeans-3              100.0          100.0
6                      kmeans-4              100.0          100.0
7                      kmeans-5              100.0          100.0

In [135]:
generate('yacht')

yacht

                       Strategy  Training Accuracy  Test Accuracy
0  random-without-replacement-2              100.0           42.0
1  random-without-replacement-3              100.0           22.0
2  random-without-replacement-4              100.0           34.0
3  random-without-replacement-5              100.0           22.0
4                      kmeans-2              100.0           74.0
5                      kmeans-3              100.0           72.0
6                      kmeans-4              100.0           70.0
7                      kmeans-5              100.0           64.0